<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>

<!-- 	  <class name="Rest.Rest.API.Automation.UserRegistrationTest"/>
	  <class name="Rest.Rest.API.Automation.UserLoginTest"/>
	  <class name="Rest.Rest.API.Automation.UserLogoutTest"/>  -->
	  <class name="Rest.Rest.API.Automation.UserRegistrationTest2"/>
   
    </classes>
  </test> 
</suite> 